.wrapper,
.login {
  overflow: hidden;
  position: relative;
  top: 93%;
}
.wrapper svg {
  text-align: center;
  width: 33%;
  float: left;
}
.login svg {
  text-align: center;
  width: 25%;
  float: left;
}
.bottomBar {
  height: 100%;
}
